body {
	width: 100%;
	height: 100%;
	margin: 0;
	display: flex;
}

.wide-col {
	width: 60%;
	height: 100%;
}
/* wide column is the bottom column in the block display and the left column in flex display */
.narrow-col {
	width: 40%;
	height: 100%;
}
/* size measurments for all bozes used */
.box {
	width: 100%;
	height: 50%;
}

.blue {background-color: #0D11A8;}
.red {background-color: #F50F0F;}
.yellow {background-color: #FAE317;}
.grey {background-color: #D3D3D3;}

/*aligns the content by centering it in the display flex format as well*/

.center-horizontal {
	align-items: center;
	display: flex;	
}


.center-vertical {
	justify-content: center;
	display: flex;
}


.contain-image {
	max-height: 75%;
	max-width: 75%;
}
@media only screen and (max-width: 650px) {
	body {
	width: 100%;
	height: 100%;
	margin: 0;
	display: block;
}
/* discription of what to do when the screen is manually resized */

  }
  .box {
	width: 100%;
	height: 100%;
}
}
